<main id="main" class="main">
<article>
  <section id="searchDisplay" class="results">
    <div class="flex">
      <input type="text" id="searchTerm" class="searchTerm" placeholder="Search books by name, author, genre and etc ..."/>
      <input type="submit" value="submit" id="searchButton">
    </div>
  </section> 
</article>
</main> 

<div id="bookCards">
    <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4" id="title:{{">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{{!-- <script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script> --}}
<script src="./test.js"></script>