<main id="main" class="main">
<article>
  <section id="searchDisplay" class="results">
    <div class="flex">
      <input type="text" id="searchTerm" class="searchTerm" placeholder="Search books by name, author, genre and etc ..."/>
      <input type="submit" value="submit" id="searchButton">
    </div>
  </section> 
</article>
</main> 

<div id="bookCards"></div>

<script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
<script src="./test.js"></script>